:root {

    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

    --bg-color: #f5f5dc;
    --text-color: #2c2c2c;
    --button-bg: #e0e0ce;

    --main-window-bg: #ffffff;
    --titlebar-bg: #999;
}

[data-theme='dark'] {
    --bg-color: #1b1f2a;        /* cielo nocturno */
    --text-color: #e6e1d9;      /* beige suave, no blanco */
    --button-bg: #2a3040;

    --main-window-bg: #232938;  /* un poco más claro que el fondo */
    --titlebar-bg: #2f3650;     /* leve contraste elegante */
}

.boton-redondo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--button-bg);

  position: absolute;
  top: 20px;
  left: 20px;
}

.main-window {
    width: 50vw;
    height: 70vh;
    position: relative;

    background: var(--main-window-bg);
    border: 2px solid black;

    display: flex;
    flex-direction: column;

    
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}


.titlebar {
    height: 6vh;    
    background: var(--titlebar-bg);
    border-bottom: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: flex-start; 

    padding-left: 1rem;

    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.3s ease, color 0.3s ease;
}