:root {
    --bg-color: #f5f5dc;
    --text-color: #2c2c2c;
    --button-bg: #e0e0ce;
}

[data-theme='dark'] {
    --bg-color: #1a1a1a;
    --text-color: #f5f5dc;
    --button-bg: #333333;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;

    transition: background-color 0.3s ease, color 0.3s ease;
}