:root {

    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

    --bg-color: #f5f5dc;
    --text-color: #2c2c2c;
    --button-bg: #e0e0ce;

    --main-window-bg: #ffffff;
}

[data-theme='dark'] {
    --bg-color: #1a1a1a;
    --text-color: #f5f5dc;
    --button-bg: #333333;

    --main-window-bg: #ffffff;
}

.boton-redondo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--button-bg);

  position: absolute;
  top: 20px;
  left: 20px;
}

.main-window {
    width: 200px;
    height: 200px;
    background: var(--main-window-bg);
}


body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.3s ease, color 0.3s ease;
}