.about-content {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 5%;
    text-align: left;
}

.icon-link {
    cursor: pointer;
    transition: all 0.2s ease;
}

.icon-link:active {
    transform: scale(0.4);
}

.icon-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10%;
}
